@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body,html {
  font-family: "Lato", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
tbody::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
 // Track 
::-webkit-scrollbar-track {
  border-radius: 0px;
}
// Handle 
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #000;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #000;
}
.container {
  @media (min-width: 1280px) {
    max-width: 1170px;
  }
}
.container_lg {
  @media (min-width: 1280px) {
    max-width: 1100px;
  }
}
.container_min {
  max-width: 760px;
}
h1, .h1 {
  font-size: 32px;
  line-height: 180%;
  margin-top: 0;
  margin-bottom: 0;
  @media (max-width: 1200px) {
    font-size: 28px;
  }
  @media (max-width: 991.98px) {
    font-size: 26px;
  }
  @media (max-width: 575.98px) {
    font-size: 24px;
    line-height: 150%;
  }
}
h2, .h2 {
  font-size: 26px;
  line-height: 123.077%;
  margin-top: 0;
  margin-bottom: 0;
  @media (max-width: 1200px) {
    font-size: 24px;
  }
  @media (max-width: 991.98px) {
    font-size: 20px;
  }
  @media (max-width: 575.98px) {
    font-size: 18px;
  }
}
.text-sm {
  font-size: 14px;
  line-height: 1;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  @media (max-width: 992px) {
    font-size: 15px;
  }
}
.text-md {
  font-size: 18px;
  line-height: 1.3;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
  @media (max-width: 991.98px) {
    font-size: 15px;
  }
}
.text-lg {
  font-size: 20px;
  line-height: 1.3;
  @media (max-width: 1200px) {
    font-size: 18px;
  }
  @media (max-width: 991.98px) {
    font-size: 16px;
  }
}
a {
  color: #3473E0;
  transition: all 0.3s;
  // text-decoration: none;
  &:hover {
    color: #1352be;
  }
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.text-underline {
  text-decoration: underline;
}
.color-black {
  color: #000000 !important;
}
.color-gray {
  color: #7A7A7A !important;
}
.color-blue {
  color: #3473E0 !important;
}
.color-red {
  color: #F23838;
}
.color-green {
  color: #4DB045;
}
.color-orange {
  color: #FA7E0E;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.lh-15 {
  line-height: 1.5 !important;
}
.lh-18 {
  line-height: 1.8 !important;
}
.mb-06 {
  margin-bottom: 6px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.text-line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  &-2 {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}