.modal {
  &-dop {
    .modal-dialog {
      @media (max-width: 991.98px) and (min-width: 768px) {
        max-width: 750px;
      }
    }
    .modal-body {
      padding: 68px 25px;
    }
  }
}
.btn_close {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 21;
  cursor: pointer;
}
.item-modal-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
}
.slider-modal {
  width: 60%;
  padding-left: 25px;
  padding-right: 25px;
  @media (max-width: 767.98px) {
    width: 100%;
  }
}
.modal-info {
  padding-top: 50px;
  width: 40%;
  padding-left: 25px;
  padding-right: 25px;
  @media (max-width: 767.98px) {
    padding-top: 10px;
    width: 100%;
  }
}

