.wrapper-group-sliders,
.item-modal-content {
  .gallery-thumbs,
  .gallery-top,
  .gallery-thumbs-2,
  .gallery-top-2 {
    overflow: hidden;
  }
  .gallery-top,
  .gallery-top-2 {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    background-color: #ffffff;
    .swiper-pagination {
      display: none;
      @media (max-width: 575.98px) {
        display: block;
      }
      .swiper-pagination-bullet {
        border: 1px solid #7A7A7A;
        background-color: #ffffff;
        &-active {
          background-color: #4DB045;
          border-color: #4DB045;
        }
      }
    }
    .swiper-wrapper {
      align-items: center;
    }
    .wrapper_product {
      border-radius: 12px;
    }
    @media (max-width: 575.98px) {
      margin-bottom: 10px;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 20px;
      background-color: #fff;
    }
  }
  .gallery-thumbs,
  .gallery-thumbs-2 {
    width: 100%;
    @media (max-width: 575.98px) {
      display: none;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      cursor: pointer;
      box-shadow: none !important;
      opacity: 0.5;
      background-color: #fff;
      transition: all 0.3s;
      border: 1px solid transparent;
      padding: 1px;
      border-radius: 6px;
      &-active {
        opacity: 1;
        border: 1px solid #F45151;
      }
    }
  }
}
.wrapper_product {
  img {
    border-radius: 6px;
  }
}
#slider1,
#slider2,
#slider3 {
  .swiper-wrapper {
    padding-bottom: 50px;
  }
  .swiper-pagination-bullet {
    color: #292139;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 16px;
    font-weight: 700;
    line-height: 192.5%;
    border-radius: 99px;
    border: 1px solid #292139;
    background-color: #ffffff;
    opacity: 1;
    margin: 0 2px !important;
    &-active {
      border-radius: 99px;
      border: 1px solid #4DB045;
      background: #60AB5A;
      color: #ffffff;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: auto;
    z-index: 211;
    @media (max-width: 575.98px) {
      // display: none;
    }
  }
  .swiper-button-prev {
    top: auto;
    bottom: 10px;
    left: 50%;
    margin-left: -84px;
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
  .swiper-button-next {
    top: auto;
    bottom: 10px;
    right: 50%;
    margin-right: -84px;
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    width: 75px;
    height: 35px;
    border-radius: 25px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    color: #292139;
    text-align: center;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #292139;
    padding-bottom: 1px;
  }
  .swiper-button-prev:after {
    content: '\003C  Back';
    // background-image: url('../img/svg/slider_arrow.svg');
    // background-size: 50px;
    // transform: rotate(180deg);
  }
  .swiper-button-next:after {
    content: 'Next  \003E';
    // background-image: url('../img/svg/slider_arrow.svg');
    // background-size: 50px;
  }
}
.recen_block {
  border-radius: 10px;
  border: 1px solid #E5E5E5;
  background-color: #ffffff;
  padding: 22px 28px;
  @media (max-width: 575.98px) {
    background: transparent;
  }
}
.swiper_dop {
  padding-top: 36px;
  padding-bottom: 30px;
  @media (max-width: 575.98px) {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
.wrapper_swiper_1,
.slider_3 {
  @media (max-width: 575.98px) and (min-width: 374.98px) {
    margin-right: -0.75rem;
  }
}
.gallery-thumbs-2 {
  height: auto !important;
}